<section class="section brd-btm" id="experience">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">工作经历</h2>
      <br />
      <div class="education">
        {% for e in site.data.resume.experiences %}
        <div class="education-box">
          <time class="education-date" >
            <span>
              <strong class="text-upper">{{e.experience.startTime}}</strong>
              -
              <strong>{{e.experience.endTime}}</strong>
            </span>
          </time>
          <h3>{{e.experience.workName}}</h3>
          <span class="education-company">{{e.experience.company}}</span>
          {% for c in e.experience.DJ %}
          <p>{{c}}</p>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- .section -->
