<section class="section brd-btm" id="profetional">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">职业技能</h2>
      <div class="ref-box hreview">
        <div class="ref-info">
          <p style="color: #969696">
            &emsp;&emsp;1 年 Java
            实习开发经验，热爱开源，混迹于各大开源社区有少许贡献，长时间坚持撰写原创博客。
          </p>
          <blockquote class="ref-cont clear-mrg">
            {% for personalSkills in site.data.resume.personalSkills %}
            <p>{{ personalSkills }}</p>
            {% endfor %}
          </blockquote>
        </div>
      </div>
    </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
<!-- .section -->
