<section class="section brd-btm" id="education">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">教育经历</h2>
      <blockquote class="ref-cont clear-mrg">
        {% for i in site.data.resume.educations %}
            <div class="ref-box hreview">
                {% if i.education.schoolImg != '' %} 
                    <div class="ref-avatar">
                        <img
                            alt=""
                            src="{{ i.education.schoolImg | prepend: site.baseurl }}"
                            class="avatar avatar-54 photo"
                            height="54"
                            width="54"
                        />
                    </div>
                {% endif %}
                <div class="ref-info">
                <div class="ref-author">
                    <strong>{{i.education.school}} </strong>
                    <span>{{i.education.startTime}} - {{i.education.endTime}}
                        {% if i.education.major %} | {% endif %}
                      {{i.education.major}}</span>
                </div>
                <blockquote class="ref-cont clear-mrg">
                    {% for c in i.education.content %}
                        <p>{{c}}</p>
                    {% endfor %}
                </blockquote>
                </div>
            </div>
        {% endfor %}
      <!-- .ref-box -->
    </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
<!-- .section -->
