<section class="section brd-btm" id="project">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">项目经验</h2>
      <img
        src="{{ '/styles/img/projectImg.png' | prepend: site.baseurl }}"
        alt=""
      />
      {% for i in site.data.resume.projectExperiences %}
      <div class="ref-box hreview">
        <div class="ref-info">
          <div class="ref-author">
            <strong style="font-size: large"> {{ i.project.name }} </strong>
            <span>{{ i.project.time }}</span>
          </div>
          <blockquote class="ref-cont-blockquote clear-mrg">
            <p class="item-p">{{i.project.introduce}}</p>
            <p>{{i.project.technical}}</p>
            {% if i.project.content %}
            <p>职责:</p>
            {% endif %} {% for c in i.project.content %}
            <p class="item-p">{{ c }}</p>
            {% endfor %}
          </blockquote>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
<!-- .section -->

<style>
  .ref-cont-blockquote {
    font-size: 1em;
    line-height: 1em;
    padding: 0;
    position: relative;
    border-width: 0;
    width: 100%;
    max-width: 100%;
    margin: 10px 0 0 0;
  }

  .item-p {
    text-indent: 2em;
    margin-top: 10px;
  }
</style>
