<section class="section brd-btm" id="profetional">
  <div class="row">
    <div class="col-sm-12 clear-mrg">
      <h2 class="title-thin text-muted">职业技能</h2>
      <div class="ref-box hreview">
        <div class="ref-info">
          <!-- <p style="color: #969696">
            &emsp;&emsp;3 年 Java 开发经验，其中 2
            年微服务系统开发设计经验，具有分布式、高并发、高可用、大数据量的系统研发经验。同时具备扎实的技术功底，对
            JVM、Spring、Mybatis 等开源框架核心源码有过研究，好的 Java
            基础和良好的编码习惯。 有数据库复杂SQL编写经验，对
            K8s、DevOps有实践经验，热爱开源，混迹于各大开源社区有少许贡献，长时间坚持撰写原创博客。
          </p> -->
          <blockquote class="ref-cont clear-mrg">
            {% for personalSkills in site.data.resume.personalSkills %}
            <p>{{ personalSkills }}</p>
            {% endfor %}
          </blockquote>
        </div>
      </div>
    </div>
    <!-- .col-sm-6 -->
  </div>
  <!-- .row -->
</section>
<!-- .section -->
